<div class="form-group">
    <textarea id="comment_body" name="comment[body]" class="form-control" rows="3"><%= comment.body %></textarea>
</div>
<a href="/posts/<%= post.id %>" class="btn btn-default" role="button">Cancelar</a>
<button type="submit" class="btn btn-primary">Enviar</button>
